*{
    margin: 0;
    padding: 0;
}

:root {
    --main--color--: #EE9B01;
    --second--color--: #68904D;
    --third--color--: #C8D2D1;
    --fourth-color--: #DA6A00;
    --fifth-color--: #14471E;
}
.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 100vh;
}

.left-container {
    background-color: var(--main--color--);
}
.right-container {
    background-color: var(--third--color--);
}

.toggleBtn, 
.removeBtn {
    background-color: var(--third--color--);
    border: none;
}

.toggleBtn:hover,
.removeBtn:hover {
    cursor: pointer;
    font-weight: bolder;
}

.removeBtn {
    opacity: 0.6;
}

.removeBtn:hover {
    opacity: 1;
}